
@{
    ViewData["Title"] = "About Us";
}

<h1>About</h1>
<p>Liberty Check is a webb app designed for a class project. It is designed to show there are other parties than the two mainstream parties.</p>
