@{
    ViewData["Title"] = "Liberty Check";
}

<body>
    <h1>Where do you fall as a voter?</h1>
    <img src="~/images/electionbreakdown.png" class="img-thumbnail" width="400"/>
    <img src="~/images/ifdidnotvote.png" class="img-thumbnail" width="400" height="200"/>
    <br/>
    <h2>If you are one that didn't vote, where do you fall?</h2>
    <br/>
    <img src="~/images/reasonsnovote.png" class="img-thumbnail"width="400"/>
</body>
